## LIST

In [86]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight','nine']

In [87]:
list5 = [['Asif', 25 ],[50, 100],[150, 90]]

In [88]:
a = list5[1][0]
print(a)

50

In [1]:
matrix = [
    [1, 2, 5], 
    [3, 5, 6], 
    [7, 9, 9]
]
matrix[1][1]

5

In [90]:
mylist[-1:-4:-1]
# mylist[:-3:2]

['nine', 'eight', 'seven']

In [91]:
mylist[-3:]

['seven', 'eight', 'nine']

In [92]:
list5.insert(3,[5,8])
list5

[['Asif', 25], [50, 100], [150, 90], [5, 8]]

In [93]:
list5.insert(3,5)

In [94]:
list5[0].insert(1,"pushpa")
list5

[['Asif', 'pushpa', 25], [50, 100], [150, 90], 5, [5, 8]]

In [95]:
list5 = [['Asif', 25], [50, 100], [150, 90]]
list5[1].insert(1, 5)  # Insert 5 at index 1 of the second sublist
print(list5)

[['Asif', 25], [50, 5, 100], [150, 90]]

In [96]:
list5 = [['Asif', 25], [50, 100], [150, 90]]
list5[1].remove(100)
print(list5)

[['Asif', 25], [50], [150, 90]]

In [97]:
mylist.remove('five')
mylist

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [98]:
mylist[3] = 7
mylist[2] = 'pet'
mylist

['one', 'two', 'pet', 7, 'six', 'seven', 'eight', 'nine']

In [99]:
list5.clear()
list5.insert(0,'bob')
list5.insert(4,6)
del list5[0]
del list5

In [100]:
mylist1 = mylist
id(mylist1),id(mylist)

(2718582438784, 2718582438784)

In [101]:
mylist2 = mylist.copy()
id(mylist2),id(mylist)

(2718582439296, 2718582438784)

In [102]:
list1 = ['Asif', 25 ,[50, 100],[150, 90]]
new_list = list1+mylist
new_list

['Asif',
 25,
 [50, 100],
 [150, 90],
 'one',
 'two',
 'pet',
 7,
 'six',
 'seven',
 'eight',
 'nine']

In [103]:
# list1.extend(mylist)
# list1

In [104]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
mylist3.insert(2,5)

In [105]:
mylist3

[2, 5, 5, 9, 12, 34, 88, 99]

In [106]:
for i in mylist3:
    print(i)

2
5
5
9
12
34
88
99

In [107]:
8 in mylist3

False

In [108]:
mylist.count('nine')

1

In [109]:
mylist.sort(reverse=True)
mylist

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
name = 'ABHINANDAN'
na = [i for i in name]
na

In [ ]:
even = [i for i in range(0,31) if i%2==0]
even

In [ ]:
odd = [i for i in range(30) if i%2==1]
odd

In [ ]:
square = [i**2 for i in range(10) if i%2 == 0]
square

In [ ]:
mul_3_5 = [i for i in range(200) if (i%3==0) and (i%5==0)]
mul_3_5

In [ ]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
num = [i for i in mystr if i.isdigit()]
num

In [ ]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
alpha = [i for i in mystr if i.isalpha()]
alpha[0:9]

In [ ]:
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
for i in mystr:
    if i.isalpha():
        print("yes")

In [ ]:
tu = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , [99,22,33]]
tu[5][1]
tu.index(25)

In [ ]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [ ]:
# princt max no. in the list
l1=[4,6,2,8,1]
# l1.sort(reverse = True)
l1_max = max(l1)
print(l1_max)

In [ ]:
#  Find the reverse of a number provided by the user(any number of digit)
n = int(input("enter the number:"))
dig_list = list(map(int,str(n))) # map function takes a function and applies it to given iterator eg took int function apply to str(n)
dig_list = dig_list[::-1]
num = int("".join(map(str,dig_list))) # since join works only on string
print(num)

# n = int(input("enter the number:"))
# dig_list = map(int,str(n))
# dig_list = dig_list[::-1]
# num = int("".join(map(int,dig_list)))
# print(num)

In [ ]:
# find the number of digits in the given number.
n = int(input("enter the number of digits in number"))
dig = list(map(int,str(n)))
print(len(dig)) # len is a list method

In [ ]:
l1=[1,2,3,3,3,4,4,5,6,7,8,9,9]
l2 = []
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

In [ ]:
''''Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the
 list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the
 new list.
 list1 = ["M", "na", "i", "Ke"]
 list2 = ["y", "me", "s", "lly"]
 expected result:
 ['My', 'name', 'is', 'Kelly']'''
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i , j in zip(list1,list2)]
print(list3)

In [ ]:
 #Turn every item of a list into its square Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
new = []
for i in numbers:
    n = pow(i,2)
    new.append(n)
print(new)

In [ ]:
n=[pow(i,2) for i in range(1,4)]
print(n)

In [ ]:
#  Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 inoriginal order and items from list2 in reverse order.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

In [ ]:
# Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
 # Expected result:
 # ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
for i in list1:
    for j in list2:
        print(i+"*"+j)

In [ ]:
result = [i+j for i in list1 for j in list2]
print(result)

In [ ]:
#  Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result = list(filter(lambda x : x != "",list1))
print(result)

In [ ]:
# Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

In [ ]:
'''Replace listâ€™s item with new value if found
 You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with
 200. Only update the first occurrence of an item.
 list1 = [5, 10, 15, 20, 25, 50, 20]
 Expected output: [5, 10, 15, 200, 25, 50, 20'''
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[2] = 90
x = list1.index(20)
list1[x] = 2000
print(list1)

In [ ]:
# Given a Python list, write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

## Set

In [ ]:
set1 = {2,4,5,5,6,5,7}
set1

In [ ]:
set2 = set((2,4,5,5,6,5,7))
set2
for i in enumerate(set2):
 print(i)

## String

In [ ]:
str1 = 'HELLO PYTHON'
print(str1*2)

In [ ]:
len(str1) # len is method for string alse

In [ ]:
str1[len(str1)-1]

In [ ]:
str1[-4:-1]='gee'

In [ ]:
str2 = 'for you'
str3 = str1 +" "+ str2
print(str3)

In [ ]:
for i in enumerate (str3):
    print(i)

## String Indexing

In [ ]:
str5 = "Natural language processing with Python and R and Java"
str5[3:8]

In [ ]:
# Last character in string using len function
str5[len(str5)-1]
str5[-1]

In [ ]:
#Fetch 7th element of the string
str5[6]

In [ ]:
# Retreive last four characters of the string
str5[-4:]
str5[:-4]

In [ ]:
del str1 # Delete a string
 print(srt1)

In [ ]:
 # String concatenation
 s1 = "Hello"
 s2 = "Asif"
 s3 = s1 + " " + s2
 print(s3)

In [ ]:
mystr1 = "Hello Everyone"
for i in mystr1:
    print(i,end=" ")

## String Partitioning
""" The partition() method searches for a specified string and splits the string into

The first element contains the part before the argument string.
The second element contains the argument string.
The third element contains the part after the argument st"""ring.

In [ ]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.rpartition("and") 
print(L)

In [ ]:
 str5 = "Natural language processing with Python and R and Java"
 L = str5.partition("and") 
print(L)

In [ ]:
mystr2 = '  Hello Everyone  '
mystr2.replace("He","HK")

In [ ]:
mystr2 = "*********Hello Everyone***********All the Best**********"
 mystr2.strip('*')

In [ ]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2.rstrip('*')

In [ ]:
mystr5 = "one two Three one two two three"
mystr5.count('two')
mystr5.startswith('one')

In [ ]:
loc = mystr5.index('Three')
print(loc)

In [ ]:
 loc = str5.rfind("one") # last occurrence of word 'one' in string "str6"
# print(loc)
loc = str5.rindex("one")
print(loc)

In [ ]:
 item1 = 40
 item2 = 55
 item3 = 77
 res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print("Cost of item1 , item2 and item3 are {} , {} and {}".format(item1,item2,item3))
print(f"Cost of item1 , item2 and item3 are {item1} , {item2} and {item3}")
print(res.format(item1,item2,item3))

## Dictionary

my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})

In [ ]:
my_dict = dict({1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}})
my_dict

In [ ]:
for i in my_dict:
    print(i,':',my_dict[i])

In [ ]:
keys = {1,2,3}
values = {'one','two','three'}
my_dict = dict.fromkeys(keys,values)
ny_dict={}
my_dict

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
my_dict.items()

In [ ]:
my_dict[2]

In [ ]:
my_dict.get(2)

In [ ]:
my_dict[2]='Two'
print(my_dict)

In [142]:
my_dict['A']['Name']='hirend'
my_dict

{1: 'on', 2: 'two', 'A': {'Name': 'hirend', 'Age': 20}, 5: 'five'}

In [144]:
my_dict['A'].update({'Name':'ANNI'})
my_dict

{1: 'on', 2: 'two', 'A': {'Name': 'ANNI', 'Age': 20}, 5: 'five'}

In [124]:
my_dict.pop(1)
print(my_dict)

KeyError: 1

In [325]:
 keys = {'a' , 'b' , 'c' , 'd'}
value = {'10','20','30'}
my_dict2 = dict.fromkeys(keys,value)
my_dict2

{'a': {'10', '20', '30'},
 'b': {'10', '20', '30'},
 'c': {'10', '20', '30'},
 'd': {'10', '20', '30'}}

In [132]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1.pop('ID')
del[mydict1['Name']]
mydict1

{'DOB': 1991, 'Address': 'Hilsinki'}

In [136]:
for i in mydict1:
   print(i , ':' , mydict1[i])

DOB : 1991
Address : Hilsinki

In [150]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]

my_dict = {k:v for (k,v) in zip(key,value)}
my_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [156]:
str1 = "Natural Language Processing"
my = {k:v for (k,v) in enumerate(str1)}
my

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [160]:
my2 = {i:i**2 for i in range(1,11)}
my2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Sets

In [108]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [116]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [118]:
 A & B

{4, 5}

In [120]:
 """
 Updates the set calling the intersection_update() method with the intersection of
 For below example Set A will be updated  with the intersection of A & B.
 """
 A.intersection_update(B)
 A

{4, 5}

In [122]:
B- A  # set of elements that are only in B but not in A
B.difference(A)

{6, 7, 8}

In [124]:
"""
 Updates the set calling the difference_update() method with the difference of set
 For below example Set B will be updated  with the difference of B & A.
 """
B.difference_update(A)
B

{6, 7, 8}

In [126]:
 A ^ B # Symmetric difference (Set of elements in A and B but not in both.

{4, 5, 6, 7, 8}

In [128]:
A.symmetric_difference(B)

{4, 5, 6, 7, 8}

In [130]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [132]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [134]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [136]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

True